body {
  text-align: center;
}

.btn {
  background-color: rgba(128, 0, 128, 0.24);
  display: inline-block;
  width: 200px;
  height: 33px;
  margin: auto;
  margin-top: 10px;
  font-size: larger;
}
 #new{
  background-color: rgba(255, 0, 0, 0.16);
  display: inline;
  width: 500px;
  font-size: 20px;
}
 #old{
    background-color: rgba(0, 0, 255, 0.16);
    width: 500px;
    height: 500px;
    margin: auto;
    font-size: 20px;
}

li {
  background-color: inherit;
}
