
.btn {
  display: inline;
  background-color: white;
  width: 44%;
  height: 35px;
  margin: 5px;
  padding: 0 6px;
  font-size: 25px;
  border: solid #2196f3;
}
.btn:focus{
  outline: 0;
  background-color: whitesmoke;
}
.btn:active{
  color: white;
  background-color: #2196f3;
  border: inset 2px;
}
#btn-box {
  display: inline-block;
  width: 100%;
}
#wrapper{
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.userInfo{
  display: inline;
  font-size: 20px;
  border: 1px solid black;
}
.new{
 background-color: transparent;
 display: inline;
 border: 0px solid black;
 border-bottom: 1px solid black;
 height: 30px;
 width: 80%;
 font-size: 25px;
 margin: 4%;
}
.icons {
  display: block;
  color: #FFC107;
  font-size: 18px;
  width: 0;
  height: 0;
  margin: 4%;
}
.dark{
  color: #E65100;
}
#sunA, #thuA {
  margin-left: 0px;
}
#old{
  margin: auto;
  font-size: 25px;
  padding-bottom: 10%;
}
#taskForm {
  width: 90%:
}

p {
  display: inline;
}
ul {
  text-align: left;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}
li {
  list-style-type: none;
  background-color: inherit;
  text-align: justify;
  font-family: sans-serif;
  font-size: 15px;
  margin: 0 0;
}

h3 {
  margin: 5px 5px;
  font-weight: normal;
  font-style: italic;
  font-family: sans-serif;
}
@media (min-width: 640px) {
  #wrapper {
    width: 640px;
    margin: auto;
    margin-top: 25px;
  }
  li {
    margin: 4%;
  }
  .btn {
    margin: 18px;
  }
  .new, {
    margin: 0 4%;
  }
  .icons {
    font-size: 20px:
  }
  #sunA, #thuA{
   margin-left: 4%;
  }
  h3 {
    margin; auto;
  }

}
