
  <head>
    <title>Todos by Dominic</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script id="entry-template" type="text/x-handlebars-template">
    <script src="bundle.js"></script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='btn-box'>
      {{#if inSession}}
      <form id='taskForm'>
        <button id='getTasksBtn' class='btn' type="button" name="name" value="">My List</button>
        <button id='saveTasksBtn' class='btn' type="button" name="name" value="">Save List</button>
          <button id='logOutBtn' class='btn' type="button" name="name" value="">Logout</button>
      {{else}}
       <form action="/login" method="post">
          <input id='userName' ='text' name="username" onclick="this.select()" value='username'>
          <input id='userPass' type='password' name="password" onclick="this.select()"  value='password'>
        </form>
        <button id='logIn' class="btn" type="button" name='email'>Login</button>
        <button id='signUp' class="btn" type="button" name='email'>Sign Up</button>
      {{/if}}
      </div> <!-- btn-box -->

        <div id='old'>
          <h3>This week</h3>
          <ul id='list'>
            <li>M:<p>AM</p>  <input class='new' id='monA' type="text" name="name" onclick="this.select()" value="Log in or"><br>
                   <p>PM</p> <input class='new' id='monP' type="text" name="name" onclick="this.select()" value="Sign up to "> </li>
            <li>T: <p>AM</p>  <input class='new' id='tueA' type="text" name="name" onclick="this.select()" value="save your weekly list"><br>
                   <p>PM</p> <input class='new' id='tueP' type="text" name="name" onclick="this.select()" value="of things to do !"> </li>
            <li>W:<p>AM</p><input class='new' id='wedA' type="text" name="name" onclick="this.select()" value="What to do ?"><br>
                   <p>PM</p> <input class='new' id='wedP' type="text" name="name" onclick="this.select()" value="What to do ?"> </li>
            <li>Th:<p>AM</p><input class='new' id='thuA' type="text" name="name" onclick="this.select()" value="What to do ?"><br>
                  <p>PM</p> <input class='new' id='thuP' type="text" name="name" onclick="this.select()" value="What to do ?"> </li>
            <li>F:<p>AM</p>  <input class='new' id='friA' type="text" name="name" onclick="this.select()" value="What to do ?"><br>
                   <p>PM</p> <input class='new' id='friP' type="text" name="name" onclick="this.select()" value="What to do ?"> </li>
            <li>S:<p>AM</p>  <input class='new' id='satA' type="text" name="name" onclick="this.select()" value="What to do ?"><br>
                  <p>PM</p> <input class='new' id='satP' type="text" name="name" onclick="this.select()" value="What to do ?"> </li>
            <li>Su:<p>AM</p><input class='new' id='sunA' type="text" name="name" onclick="this.select()" value="What to do ?"><br>
                  <p>PM</p><input class='new' id='sunP' type="text" name="name" onclick="this.select()" value="What to do ?"> </li>
          </ul>
        </div>
      </form>
    </div> <!-- wrapper -->
  </body>
