'<div id='inSession'>
  <button id='getTasksBtn' class='btn' type="button" name="name" value="">My List</button>
  <button id='saveTasksBtn' class='btn' type="button" name="name" value="">Save List</button>
  <button id='logOutBtn' class='btn' type="button" name="name" value="">Logout</button>
</div>'
